@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-color: rgb(57, 221, 213);
}
.signup {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 22px;
    align-items: center;
    border: 2px solid rgb(2, 28, 61);
    box-shadow: inset 0px 0px 50px rgb(4, 57, 78);
    position: relative;
}
form #heading {
    color: rgb(9, 0, 128);
    font-size: 35px;;
    font-weight: bolder;
    margin-left: -25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-bottom: 12px;
}
form .username label {
    /* position: absolute;
    top: 0;
    left: 0; */
}
#username, #email, #password{
    width: 320px;
    padding: 5px 12px;
    outline: none;
    margin-top: 2px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-left: -12px;
}
form input:focus {
    background-color: rgb(191, 255, 255);
    box-shadow: 0px 0px 3px white;
}
form .btn {
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#save-btn {
    border: 2px solid green;
    padding: 8px 12px;
    color: green;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, rgb(88, 255, 88) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
#save-btn:hover {
    background-position: left;
}
#reset-btn {
    border: 2px solid red;
    background: transparent;
    padding: 8px 12px;
    color: red;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, rgb(255, 166, 166) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
#reset-btn:hover {
    background-position: left;
}
form a{
    margin: 8px 0px;
    color: rgb(255, 255, 255);
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}
form a:hover {
    color: blue;
}
#success {
    position: absolute;
    bottom: 100px;
    left: 500px;
}
#success h2{
    display: inline;
}
#success a {
    color: red;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'ZCOOL KuaiLe', cursive;
}