body {
    /* overflow: hidden; */
    background-color: rgb(32, 255, 99);
}
.container {
    padding: 0px;
    overflow: hidden;
}
.nav {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.nav #logo {
    margin: 0px 8px;
}
.nav #login {
    margin: 0px 8px;
    padding: 8px 15px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 22px;
    cursor: pointer;
}
.nav #login a{
    text-decoration: none;
    color: rgb(253, 52, 52);
}
.main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    padding: 8px;
}
.main .displayMessage {
    height: 80vh;
    padding: 15px;
    box-shadow: 0px 0px 8px darkgreen, 0px 0px 5px rgb(255, 255, 255);
    border-radius: 18px;
    background-color: rgb(206, 255, 206);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.main .displayMessage .userMessage {
    display: flex;
    flex-direction: row;
}
.userMessage #user {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: rgb(255, 174, 0);
    position: relative;
}
name {
    position: absolute;
    margin-bottom: -15px;
    left: 0;
    bottom: 0;
}
.userMessage #msg-container {
    margin-left: 22px;
}
.userMessage #msg {
    display: block;
    max-width: 550px;
    padding: 3px 5px;
    background-color: lightgreen;
    border: 1px solid darkgreen;
}
.main .textMessage {
    height: 5vh;
    padding: 8px 0px;
}
.main .textMessage form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main .textMessage form #message {
    width: 70vw;
    color: white;
    outline: none; border: 2px solid rgb(66, 66, 66);
    border-radius: 50px;
    padding: 10px;
    margin: 0px 3px;
    background-color: rgb(66, 66, 66);
}
.main .textMessage form #message:hover {
    background-color: rgb(99, 99, 99);
}
.main .textMessage form #message:focus {
    color: black;
    background-color: white;
}
.main .textMessage form #send-btn {
    width: 8%;
    float: right;
    outline: none;
    border: 2px solid darkgreen;
    color: white;
    padding:  10px 12px;
    border-radius: 22px;
    background-color: darkgreen;
    font-weight: bold;
}
.main .textMessage form #send-btn:hover {
    cursor: pointer;
    background-color: green;
}