@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
body {
    background-color: rgb(32, 255, 99);
}
.container {
    width: 100%;
}
.nav {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;;
}
.nav #logo {
    margin: 0px 8px;
}
.nav #heading {
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    color: white;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.nav #login a{
    margin: 0px 8px;
    padding: 8px 15px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 22px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid red;
}
.nav #login a:hover {
    color: red;
    background-color: white;
    border: 2px solid red;
}.nav #login #username {
    color: red;
 }
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.main .msg-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main .msg-section .activeUser {
    width: 5%;
    display: flex;
    margin-left: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.main .msg-section .activeUser #online {
    color: red;
    font-weight: bold;
    margin: 10px 0px;
}
.main .msg-section .activeUser #user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 174, 0);
}
.main .msg-section .activeUser p {
    margin-top: -3px;
}

.main .msg-section .displayMessage {
    width: 90%;
    height: 78vh;
    margin: 10px auto;
    padding: 15px;
    box-shadow: 0px 0px 8px darkgreen, 0px 0px 5px rgb(255, 255, 255);
    border-radius: 18px;
    background-color: rgb(183, 252, 183);
    overflow-y: scroll;
}
.userMessage form {
    display: flex;
    flex-direction: row;
}
.userMessage form fieldset {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    border-radius: 55px;
    padding: 1px 10px 3px 10px;
    border: 1px solid darkgreen;
    background-color: lightgreen;
}
.userMessage form fieldset legend {
    color: white;
    font-size: smaller;
    padding: 2px 12px;
    border-radius: 50px;
}
.userMessage form fieldset #del-btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 3px 3px;
    background: transparent;
    margin: 1px 3px;
}
.userMessage form fieldset #displayUserMessage {
    border-radius: 20px;
    padding: 4px 2px 0px 8px;
    
}
.main .textMessage {
    width: 100%;
    padding: 8px 0px;
}
.main .textMessage form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3px;
}
.main .textMessage form #toUser {
    width: 8%;
    color: white;
    outline: none; border: 2px solid rgb(66, 66, 66);
    border-radius: 50px 20px 20px 50px;
    font-size: small;
    padding: 10px;
    margin: 0px 3px;
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}
.main .textMessage form #toUser:hover {
    background-color: rgb(99, 99, 99);
}
::placeholder {
    color: white;
}
.main .textMessage form #message {
    width: 85%;
    color: white;
    outline: none; border: 2px solid rgb(66, 66, 66);
    border-radius: 20px 50px 50px 20px;
    padding: 10px;
    margin: 0px 3px;
    background-color: rgb(66, 66, 66);
}
.main .textMessage form #message:hover {
    background-color: rgb(99, 99, 99);
}
.main .textMessage form #message:focus {
    color: black;
    background-color: white;
}
.main .textMessage form #send-btn {
    outline: none;
    border: 2px solid darkgreen;
    color: white;
    padding:  10px 25px;
    border-radius: 22px;
    background-color: darkgreen;
    font-weight: bold;
}
.main .textMessage form #send-btn:hover {
    cursor: pointer;
    background-color: green;
}
@media only screen and (max-width: 550px) {
    .main .textMessage form #message {
        /* min-width: 70vw; */
    }
}